<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <context-param>
    <param-name>AppName</param-name>
    <param-value>RoomBook_ECLIPSELINK</param-value>
  </context-param>
  <resource-ref>
    <description>RoomBook Test DB</description>
    <res-ref-name>jdbc/RoomBook</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>MainController</servlet-name>
    <servlet-class>roombook.core.MainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainController</servlet-name>
    <url-pattern>/Lobby</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GuestController</servlet-name>
    <servlet-class>roombook.guest.GuestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestController</servlet-name>
    <url-pattern>/Guest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RoomController</servlet-name>
    <servlet-class>roombook.room.RoomController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomController</servlet-name>
    <url-pattern>/Room</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FrontDeskController</servlet-name>
    <servlet-class>roombook.frontdesk.FrontDeskController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontDeskController</servlet-name>
    <url-pattern>/FrontDesk</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReservationController</servlet-name>
    <servlet-class>roombook.reservation.ReservationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationController</servlet-name>
    <url-pattern>/Reservation</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <scripting-invalid>true</scripting-invalid>
    </jsp-property-group>
  </jsp-config>
  <welcome-file-list>
  	<welcome-file>Lobby</welcome-file>
  </welcome-file-list>
</web-app>